<div class="logos col-md-3">
  <img src="public/img/logo.png">
</div> <!-- / .logo  -->
<div class="twitter col-md-3">
  <h1>{{ twitter }}</h1>
</div><!-- / .twitter -->
<div class="text col-md-3">
  <h1>{{ text }}</h1>
</div><!-- / .text -->
<div class="col-md-3">
<div class="logos col-md-3">
  <img src="public/img/{{logos}}.png">
</div> <!-- / .logos  -->