@import "../variables";
@import "../common";
@import "../casparcg";
@import "./dev";

#template-bg {
  display: none;
}

.multiProfileContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;

  &.winners {
    margin-top: 25px;
  }

  .title {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: "HelveticaNeue-Medium";

    display: block;
    width: 100vw;

    position: absolute;
    bottom: 168px;

    height: 65px;
    line-height: 55px;
    background: #212121;
  }

  .multiProfileOuter {
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0px;
    left: 0px;

    //opacity: 0;
    padding: 5vh 0;

    .people {
      text-align: center;

      &.winners {
        &.count7, &.count8 {
          margin-top: 35px !important;
        }
        &.count5, &.count6, &.count4 {
          margin-top: 240px;
        }

        h1, h2 {
          line-height: 1.1 !important;
          font-size: 40px !important;
        }       
      }

      &.count7, &.count8 {
        margin-top: 50px;
        margin-bottom: 50px;

        .multiProfile {
          width: 349px;
          height: 330px;

          .image {
            width: 235px;
          }

          margin: 0px 15px 35px;

          h1, h2 {
            line-height: 1.1;
            font-size: 45px;
          }
        }
      }

      &.count6 {
        margin-top: 230px;
        margin-bottom: 230px;

        .multiProfile {
          width: 270px;

          margin: 0px 15px;

          .image {
            width: 230px;
          }

          h1, h2 {
            line-height: 1.1;
            font-size: 37px;
          }
        }
      }

      &.count5 {
        margin-top: 205px;
        margin-bottom: 215px;

        .multiProfile {
          width: 291px;

          margin: 0px 15px;

          .image {
            width: 265px;
          }

          h1, h2 {
            line-height: 1;
            font-size: 45px;
          }
        }
      }
      &.count4 .multiProfile{
        margin: 0px 15px;

        width: 375px;
      }
      &.count3 .multiProfile{
        margin: 0px 15px;

        width: 385px;
      }
      &.count2 .multiProfile{
        margin: 0px 20px;

        width: 515px;
      }
      
      &.count1, &.count2, &.count3, &.count4{
        margin-top: 170px;
        margin-bottom: 190px;

        .image {
          width: 315px;
        }
      }
    }

    .multiProfile {
      padding: 0;

      display: inline-block;
      vertical-align: top;

      .image {
        margin: auto;
      }

      img {
        background: #262626;

        border: 7px solid #262626;
        border-image: -webkit-linear-gradient(left, #262626 40%, #787878 110%);
        border-image-slice: 1;

        width: 100%;
        z-index: 10000;
      }

      .name-double {
        position: relative;
        top: -120px;
        z-index: -1;

        line-height: 0.9;
        text-align: center;
        color: #262626;

        opacity: 0;
    
        -webkit-transform-origin: left;

          display: table-row;

        .name1 {
          display: table-cell;
          h1, h2 {
            text-align: right;
          }
        }
        .amp {
          display: table-cell;
          padding: 0 8px;
        }
        .name2 {
          display: table-cell;
          h1, h2 {
            text-align: left;
          }
        }
      }

      .name {
        position: relative;
        top: -120px;
        z-index: -1;

        line-height: 0.9;
        text-align: center;
        color: #262626;

        opacity: 0;
		
        -webkit-transform-origin: left;
      }

      .name, .name-double {
        h1 {
          font-family: "HelveticaNeue";
          font-size: 45px;
          -webkit-transform-origin: bottom left;
          white-space: nowrap;
        }

        h2 {
          font-family: "HelveticaNeue-Bold";
          font-size: 45px;
          -webkit-transform-origin: top left;
          white-space: nowrap;
        }
      }
    }

  }
}