body.dev {

	#template-bg {
		background:url('/img/template/multi-profile/SampleStill.jpg') #00ff00 no-repeat center center fixed; 
		background-size: cover; 

		position: absolute; 
		float: left; 

		top: 0px; 
		left: 0px; 
		width: 100vw; 
		height: 100vh; 

		z-index: -200;
	}
	
}