@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: "RobotoCondensed";
    src: url(/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Black";
    src: url(/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: "HelveticaNeue";
    src: url(/fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url(/fonts/HelveticaNeue-Bold.ttf);
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url(/fonts/HelveticaNeue-Medium.ttf);
}

@font-face {
    font-family: "HelveticaNeue-Light";
    src: url(/fonts/HelveticaNeue-Light.ttf);
}


body {
  font-family: "Roboto-Bold";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.hidden-animate {
  opacity:0;
}
.visible-animate {
  opacity:1;
}