{
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "no-console": [ 0 ],
    "semi": [ 1 ],
    "no-var": [ 1 ]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [ "eslint:recommended" ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "module": true,
    "require": true,
    "Chart": true,
    "$": true
  }
}
