@primary-colour: hsla(0, 0%, 20%, 0.25);
@primary-text-colour: hsla(0, 0%, 94%, 1);

@lower-third-bg: hsla(0, 0%, 94%, 0.9);
@lower-third-border: hsla(0, 0%, 20%, 1);
@lower-third-primary-font-colour: hsla(0, 0%, 20%, 1);
@lower-third-secondary-font-colour: hsla(240, 41%, 46%, 1);


@pres: red;