@import "../variables";
@import "../common";
@import "../casparcg";
@import "./dev";
@import "./split-layout";

.imageSide {
  #chartLabels {
    width: 300px;
    margin-left: 50px;
  }

  #chartWrapper {
    width: 425px;
  }
}

.wideGraph {
  padding: 0 10%;

  #chartLabels {
    width: 450px;
    margin-left: 75px;
  }

  #chartWrapper {
    width: 1000px;
  } 
}

#chartLabels, #chartWrapper {
  display: inline-block;
  height: 775px;
}

#chartLabels {
  overflow: hidden;
  margin-top: 45px;

  .myLabel {
    background: #272727;
    height: 54px;
    width: 100%;
    margin-top: 41px;
    display: block;

    text-align: left;
    line-height: 54px;
    padding: 0 15px;

    font-family: "HelveticaNeue-Bold";
    font-size: 30px;
    color: #fff;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    will-change: opacity, transform;

    transition: opacity 0.5s;

    &.disabled {
      opacity: 0.25;
    }

  }
}

#chartWrapper {
  canvas {
    height: 550px;
    width: 850px;
    float: left;
    position: absolute;
    top: 50px;
    margin-left: -5px;
    opacity: 0;

    transition: 0.5s opacity;
  }

  canvas.current {
    opacity: 1;
  }

  canvas.gone {
    opacity: 0;

    transition: 0.5s all;
  }
}

.myTooltip {
  position: absolute;
  z-index: 10000;
  opacity: 1;
  transition: 0.375s opacity; // 0.5*0.75
  font-size: 28px;
  font-family: "HelveticaNeue-Bold";
  left: 0;
  margin-left: 10px;

  &.invisible, &.pending {
    opacity: 0;
  }
}

#graphRoleTitle {
  position: absolute;
  bottom: 147px;
  // background: green;
  width: 100vw;
  text-align: center;
  height: 59px;
  line-height: 59px;
  color: white;

  font-family: "HelveticaNeue";
  font-size: 40px;
}

.main {
  opacity: 1;
  transition: opacity 0.5s;

  &.invisibleMain {
    opacity: 0;
  }
}
