@import "../variables";
@import "../common";
@import "../casparcg";
@import "./dev";

body {
  opacity: 1;
}

#template-bg {
  display: none;
}

.sidebar {
  width: 455px;
  height: 930px;

  position: absolute;
  top: 55px;
  // left: 2065px;
  left: 1465px;

  visibility: hidden;

  text-transform: uppercase;

  -webkit-filter: url("#motionBlur");

  &.visible {
    visibility: visible;
  }

  img {
    display: none;
  }

  &.photo {
    .name {
      height: 245px;

      img {
        width: 250px;
        float: left;
        margin-top: -4px;
        margin-left: -5px;
        display: block;
      }

      &> div {
        padding-top: 85px;
        position: absolute;
        padding-left: 210px;

        h1, h2 {
          font-size: 30px;
        }

      }

    }

    .manifesto p {
      margin-bottom: 30px;
    }

  }

  > div, .name div {
    padding: 20px 30px 0;
  }

  .position {
    height: 110px;
    color: white;
    font-family: "HelveticaNeue";

    padding: 20px 15px 0;

    h1 {
      font-size: 26px;
      // margin: 2px 0;
      font-family: "HelveticaNeue-Bold";

      white-space: nowrap;
    }
    h2 {
      font-size: 28px;
      font-family: "HelveticaNeue";
    }
  }

  .name {
    height: 130px;
    padding: 0;

    &> div {
      padding-top: 18px;
    }

    h1 {
      font-size: 40px;
      font-family: "HelveticaNeue";
      color: #202020;
    }
    h2 {
      font-size: 40px;
      font-family: "HelveticaNeue-Bold";
      margin-top: -5px;
      color: #202020;
    }
  }

  .manifesto_heading {
    height: 75px;
    font-size: 30px;
    font-family: "HelveticaNeue";
    color: white;
    padding-top: 15px;
  }

  .manifesto {

    padding-right: 50px;

    p {
      font-size: 30px;
      font-family: "HelveticaNeue";
      line-height: 1.1;
      margin: 15px 0 40px;
      color: #202020;

    }
  }
}