@import "../variables";
@import "../common";
@import "../casparcg";
@import "./dev";

body {
  opacity: 1;
}

#template-bg {
  display: none;
}

.sidebar {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;

  &.visible {
    visibility: visible;
  }

  &.photo {
    .heading {
      #role, #type {
        display: none;
      }
    }

    .image {
      display: block;
    }

    .background {
      top: 312px;

      .name {
        display: none;
      }

      .img_role {
        display: block;
      }
    }
    .manifesto {
      margin-top: 50px;

      .line1 {
        top: 140px;
      }

      .line2 {
        top: 248px;
      }

      .line3 {
        top: 356px;
      }
    }
  }

  .image {
    display: none;
    position: absolute;
    width: 100vh;
    height: 312px;
    overflow: hidden;
    top: 0;
    left: 0;

    img {
      margin-top: 112px;
      margin-left: 48px;
      height: 200px;
    }

    #name {
      text-transform: uppercase;
      display: inline-block;
      width: 350px;
      position: absolute;
      height: 140px;
      bottom: 0;

    }
  }

  .background {
    width: 100vw;
    height: 518px;

    position: absolute;
    left: 0;
    top: 196px;

    background: #272727;
    // background: red;
    // opacity: 0.5;
  }

  .heading {
    position: absolute;
    width: 100vh;
    height: 190px;
    overflow: hidden;
    top: 0;
    left: 0;

    h1 {
      text-transform: uppercase;
      margin-left: 48px;
      font-family: "HelveticaNeue-Bold";
      font-size: 45px;
      color: #272727;
      width: calc(100vw - 1280px - 65px);
      line-height: 0.9;
    }

    #role {
      margin-top: 109px;
      min-height: 40px;
    }
  }

  .name {
    margin-left: 48px;
    margin-top: 10px;

    h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 30px;
      font-family: "HelveticaNeue-Bold";
    }
  }
  .img_role {
    margin-left: 48px;
    margin-top: 10px;
    display: none;

    h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 30px;
      font-family: "HelveticaNeue";
      width: calc(100vw - 1280px - 65px);
    }
  }

  .manifesto {

    h3 {
      color: #fff;
      font-family: "HelveticaNeue";
      font-size: 30px;
      line-height: 1.2;
      width: calc(100vw - 1280px - 65px);
    }

    .line1 {
      position: absolute;
      top: 116px;
      left: 48px;
    }

    .line2 {
      position: absolute;
      top: 224px;
      left: 48px;
    }

    .line3 {
      position: absolute;
      top: 332px;
      left: 48px;
    }

  }
}