body.dev {

  #template-bg {
    background: #00ff00 no-repeat center center fixed; 
    background-size: cover; 

    position: absolute; 
    float: left; 
    display: block;

    top: 0px; 
    left: 0px; 
    width: 100vw; 
    height: 100vh; 

    z-index: -200;
  }
  
  #dev-controls {
    top: 50px;
    left: 50px;
    width: 300px;
    position: absolute;

    z-index: 9000;
    display: block !important;
  }
}

body.dev-photo #template-bg{
    // background: url('/img/template/sidebar2018photo.png') #00ff00 no-repeat center center fixed; 
    background: none;
    width: 640px;
}

body.dev-text #template-bg{
    // background: url('/img/template/sidebar2018.png') #00ff00 no-repeat center center fixed; 
    background: none;
    width: 640px;
}