.imageSide {
  background: #ddd;
  width: 850px !important;

  #chartContainer{
    // margin-top: 200px;
    height: 600px;
    width: 900px;
    // margin-left: 50px;
  }

  .myTooltip {
    position: absolute;
    z-index: 10000;
    opacity: 1;
    transition: 0.5s opacity;
    font-size: 28px;
    font-family: "HelveticaNeue-Bold";

    &.invisible {
      opacity: 0;
    }
  }

  canvas {
    height: 550px;
    width: 850px;
    float: left;
    position: absolute;
    top: 170px;
    margin-left: 50px;
  }

  canvas.previous {
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0.5;

    transition: 0.5s all;
  }

  canvas.gone {
    margin-top: -20px;
    margin-left: -20px;
    opacity: 0;

    transition: 0.5s all;
  }
}

a.canvasjs-chart-credit {
  display: none;
}

.chartFooter {
  top: 730px;
  position: absolute;
  width: 950px;

  table, .myRow {
    text-align: left;
    width: 950px;

  }

  .myLabel {
    display: inline-block;
    text-align: center;
    color: #333;
    font-family: "HelveticaNeue";
    font-size: 22px;
  }
}