.imageSide {
  #chartLabels {
    width: 300px;
    margin-left: 50px;
  }

  #chartWrapper {
    width: 425px;
  }
}

.wideGraph {
  #chartLabels {
    width: 500px;
    margin-left: 75px;
  }

  #chartWrapper {
    width: 1225px;
  } 
}

#chartLabels, #chartWrapper {
  display: inline-block;
  height: 750px;
}

#chartLabels {
  overflow: hidden;
  margin-top: 45px;

  .myLabel {
    background: #272727;
    height: 55px;
    width: 100%;
    margin-top: 50px;
    display: block;

    text-align: left;
    line-height: 55px;
    padding: 0 15px;

    font-family: "HelveticaNeue-Bold";
    font-size: 30px;
    color: #fff;

    transition: opacity 0.5s;

    &.disabled {
      opacity: 0.25;
    }

  }
}

#chartWrapper {
  canvas {
    height: 550px;
    width: 850px;
    float: left;
    position: absolute;
    top: 50px;
    margin-left: -5px;
  }

  canvas.gone {
    opacity: 0;

    transition: 0.5s all;
  }
}

.myTooltip {
  position: absolute;
  z-index: 10000;
  opacity: 1;
  transition: 0.375s opacity; // 0.5*0.75
  font-size: 28px;
  font-family: "HelveticaNeue-Bold";

  &.invisible {
    opacity: 0;
  }
}

#graphRoleTitle {
  position: absolute;
  bottom: 147px;
  // background: green;
  width: 100vw;
  text-align: center;
  height: 59px;
  line-height: 59px;
  color: white;

  font-family: "HelveticaNeue";
  font-size: 40px;
}