.lowerThird {
  height: 10vh;
  width: 60vw;

  position: absolute;
  bottom: 20vh;
  left: 2.5vw;

  padding: 1.5vh 1vw;

  background-color: @lower-third-bg;
  border-left: 0.5vw solid @lower-third-border;
  
  h1 {
    padding: 1vh 0;
    color: @lower-third-primary-font-colour;
  }

  h3 {
    color: @lower-third-secondary-font-colour;
  }

  strong {
    color: @lower-third-primary-font-colour;
    font-weight: normal;
  }
}