.lowerThird {
  height: 13.3vh;
  width: 0.6vh;

  position: absolute;
  bottom: -20%;
  left: 5vw;

  padding: 0;

  background-color: @lower-third-bg;
  border-left: 0.6vw solid @lower-third-border;
  
  h1 {
    width: 93vw;

    position: absolute;
    left: 11px;
    top: 58px;

    color: @lower-third-primary-font-colour;
    opacity: 0;

    font-family: "Roboto-Black";
    font-size: 4.25em;
    font-weight: bold;
  }

  h3 {
    width: 93vw;

    position: absolute;
    left: -80vw;
    top: 36.82px;

    color: @lower-third-secondary-font-colour;
    -webkit-filter: blur(5px);

    font-size: 70px;
    font-family: "Roboto-Black";
    font-weight: bold;
  }

  strong {
    color: @lower-third-primary-font-colour;
    font-weight: bold;
  }
}