.singleProfileContainer {
  height: 100vh;
  
  background-color: @primary-colour;
  color: @primary-text-colour;

  .singleProfile {
    height: auto;
  }

  .incoming {
    position: absolute;
    bottom: -125%;
  }
}