.singleProfileContainer {
  height: 100vh;
  
  background-color: @primary-colour;
  color: @primary-text-colour;

  .singleProfile {
    position: absolute;
    height: auto;

    img {
      min-height: 200px;
    }
  }

  .incoming {
    position: absolute;
    bottom: -125%;
  }
}