.singleProfileContainer {
  position: absolute;
  height: 100vw;

  .singleProfile {
    position: absolute;
    bottom: -125%;
    height: auto;
    opacity: 0;
    text-align: center;
    font-family: "RobotoCondensed";

    h1, h2, img {
      margin-bottom: 0.5em;
    }
    img {
      background-color: @grey-alpha-bg; 
      min-height: 200px;
    }
    ul {
      li {
        text-align: left;
      }
    }
  }
}
