.twitterContainer {
  height: 100vh;
  width: 100vw;

  .twitter {
    height: auto;
    width: 40vw;

    position: absolute;
    left: 30vw;
    top: 0;
  }

  .twitter_logo {
    height: auto;
    width: 20vw;

    position: absolute;
    left: -50vw;

  }

  .text {
    height: auto;
    width: 35vw;

    position: relative;
    left: 2.5vw;

    opacity: 0;
  }

  .twitter_img {
    height: 424px;
    width: 576px;
    
    position: relative;
    left: 3.75vw;
    top: 1vw;
    
    opacity: 0;

    border-radius: 5px;
  }

  .info {
    margin-top: 2vw;
    margin-left: 2.5vw;

    opacity: 0;
  }

  .profile_pic {
    height: auto;
    width: 2.5vw;

    opacity: 0;

    border-radius: 5px;
  }

  .username {
    margin-left: 0.5vw;
  }

}