.twitterPhoto {
  color: white;
  display: none;

  background: #262626;

  width: 100vw;
  height: 100vh;

  .photo {
    height: 100vh;
    width: 1235px;
    position: absolute;
    top: 0;
    left: 0;

    background-size: cover;
    background-position: center;

    box-shadow: inset 0px 0px 80px #262626;
  }

  .dataSide {
    height: calc(1080px - 120px);
    width: 685px;
    position: absolute;
    top: 0;
    right: 0;

    padding: 60px;

    background: #262626;

    .dataInner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 565px;

      // margin-top: -90px;
    }

    .name {
      font-family: "HelveticaNeue";
      margin-bottom: 90px;

      img {
        height: 120px;

        margin-top: -20px;
      }

      h1 {
        display: inline-block;
        font-size: 52px;
        font-family: "HelveticaNeue-Bold";
        margin-left: 40px;
      }
    }

    .message {
      font-size: 52px;
      // margin-top: 120px;
      line-height: 1.1;

      font-family: "HelveticaNeue-Bold";
    }

    .handle {
      margin-top: 60px;

      h2 {
        font-size: 50px;
        font-family: "HelveticaNeue";
      }
    }

  }
}

.twitterText {
  color: white;
  display: none;

  background: #262626;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  width: 1920px;
  padding-bottom: 10px;

  font-family: "HelveticaNeue";

  .inner {
    padding: 40px 200px;
    margin-bottom: 50px;
  }

  .top {

    img {
      height: 140px;
      float: right;
      margin-top: 10px;
    }

    .name {
      display: inline-block;

      h1 {
        font-family: "HelveticaNeue-Bold";
        font-size: 82px;
      }
      h2 {
        font-size: 70px;
      }
    }
  }

  .message {
    font-size: 100px;
    margin-top: 70px;
    line-height: 1.2;
  }
}