@import "../variables";
@import "../common";
@import "../casparcg";
@import "./dev";

body {
  opacity: 1;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
}

$barLeft: 190px;
$barWidth: calc(100vw - #{$barLeft});

.ticker-bar {
  height: 40px;
  width: $barWidth;

  position: absolute;
  top: 990px;
  left: $barLeft;
  overflow: hidden;

  // background: #ff0000;
  // opacity: 0.5;

  line-height: 40px;
  padding: 0 20px;

  color: #000000;
  font-size: 24px;
  font-family: "HelveticaNeue-Bold";

  .content {
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    position: absolute;
    opacity: 0;
  }
}